.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 24px;
    padding: 20px;
}

.about-description {
    color: var(--text-dark);
    font-size: 20px;
}