.feeling-friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 24px;
  padding: 20px;
}

.game-title {
  color: var(--orange);
  font-family: nunito, sans-serif;
  font-size: 50px;
  margin-bottom: 8px;
}

.game-question {
  color: var(--text-dark);
  font-family: nunito, sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
}

.creature-image {
  width: clamp(150px, 40vw, 600px);
  max-width: 600px;
  height: auto;
  border-radius: 12px;
}

.option-button {
  background: rgb(from var(--bg-lavender) r g b / 0.7);
  color: var(--text-dark);
  padding: clamp(8px, 2vw, 16px) clamp(16px, 3vw, 32px);
  border-radius: 8px;
  text-decoration: none;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  margin: 8px;
}

.option-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.option-button:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

.feedback {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: 600;
}

.next-question-button {
  background: rgb(from var(--green) r g b / 0.7);
  color: var(--text-dark);
  padding: 12px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  margin: 12px;
}

.next-question-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.end-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 24px;
  padding: 20px;
}

.end-game-feedback {
  color: var(--text-dark);
  font-size: 50px;
}

.score-feedback {
  color: var(--text-dark);
  font-size: 32px;
}

.play-again-button {
  background: rgb(from var(--bg-lavender) r g b / 0.7);
  border: 4px solid var(--text-dark);
  border-radius: 30px;
  color: var(--text-dark);
  padding: 12px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  margin: 12px;
  border: none;
}

.play-again-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.play-again-button:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

@media (max-width: 768px) {
  .creature-image {
    max-width: 400px;
    max-height: auto;
  }
}
